spring:
  application:
    name: hhp7_concert_reservation
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      auto-commit: false
      maximum-pool-size: 10
      minimum-idle: 1

  jpa:
    hibernate:
      ddl-auto: create-drop # 운영 환경에서는 validate 가 적합하나, 향후 반복적 테스트를 위해 create-drop 유지
    show-sql: false  # 프로덕션은 false

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

server:
  port: 8080
  tomcat:
    mbeanregistry:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus, swagger-ui, threaddump
  prometheus:
    metrics:
      export:
        enabled: true

app:
  queue:
    provider: "REDIS"
    policy:
      max-concurrent-user: 200
      waiting-token-duration: 6
      active-token-duration: 3
      max-concurrent-user-threshold: 1.0